{% block styles %}
  <link rel="stylesheet" href="/base/css/ifn.css" />
{% endblock %}
<main id="content" role="main">
   <section id="hero" class="bg-tertiary py-5">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-md-12 mb-4 mb-md-0">
                {% block search %}
                  {% snippet 'home/snippets/search4.html' %}
                {% endblock %}
            </div>
         </div>
      </div>
   </section>
   <section id="functions" class="py-5">
      <div class="container">
         <header class="mb-4 mb-md-5">
            <h2 class="mb-0">
               Funciones
            </h2>
         </header>
         <div class="row">
            <div class="col-md-4">
               <div class="card-function mb-md-0">
                  <img class="card-function-image" src="https://visualpharm.com/assets/251/Internet-595b40b75ba036ed117d6382.svg" alt="">
                  <div class="card-function-body">
                     <h3 class="card-function-title">
                        Publica
                     </h3>
                     <p>
                        Pone a disposición datos en formatos abiertos de interés
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card-function mb-md-0">
                  <img class="card-function-image" src="https://visualpharm.com/assets/548/Download-595b40b75ba036ed117d9462.svg" alt="">
                  <div class="card-function-body">
                     <h3 class="card-function-title">
                        Descarga
                     </h3>
                     <p>
                        Rápida y fácil descarga de datos en diferentes formatos
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card-function mb-md-0">
                  <img class="card-function-image" src="https://visualpharm.com/assets/605/Database-595b40b75ba036ed117d8bca.svg" alt="">
                  <div class="card-function-body">
                     <h3 class="card-function-title">
                        Fuente de datos
                     </h3>
                     <p>
                       INFOR cuenta con una <a href="http://extractor.sistematiza.cl">plataforma privada</a> para facilitar el consumo de recursos disponibles
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="featuredOrganizations" class="py-5">
      <div class="container">
         <header class="mb-4 mb-md-5">
            <h2 class="pb-2 mb-0 border-bottom border-accent">
               Lineas de investigación destacadas
            </h2>
         </header>
         <ol class="row list-unstyled mb-0">
           {% block featured_organization %}
            {% snippet 'home/snippets/featured_organization4.html' %}
           {% endblock %}
            <li class="col-md-4 align-self-end">
               <a class="text-uppercase font-weight-bold black-link-hover" href="/organization">
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
               Ir a Líneas de investigación
               </a>
            </li>
         </ol>
      </div>
   </section>

   <section id="featuredCategories" class="py-5">
      <div class="container">
         <header class="mb-4 mb-md-5">
            <h2 class="pb-2 mb-0 border-bottom border-accent">
               Grupos destacados
            </h2>
         </header>
         <ol class="row list-unstyled mb-0">
           {% block featured_group %}
            {% snippet 'home/snippets/featured_group4.html' %}
           {% endblock %}
            <li class="col-md-4 align-self-end">
               <a class="text-uppercase font-weight-bold black-link-hover" href="/group">
               <i class="fa fa-arrow-right" aria-hidden="true"></i>
               Ir a Grupos
               </a>
            </li>
         </ol>
      </div>
   </section>
   <section id="lastUpdatedData" class="py-5">
      <div class="container">
         <header class="mb-5">
            <h2 class="pb-2 mb-0 border-bottom border-accent">
               Datos actualizados recientemente
            </h2>
         </header>
              {% set truncate = truncate or 180 %}
              {% set truncate_title = truncate_title or 80 %}

         <ol class="row list-unstyled mb-0">
           {% for package in h.get_featured_datasets() %}
               <li class="col-md-4 mb-4 ">
                   <a class="black-link-hover" href="{{ h.url_for('%s.read' % package.type, id=package.name) }}">
                     {% set title = package.title or package.name %}
                      {{ h.truncate(title, truncate_title) }}
                   </a>
                </li>
          {% endfor %}
         </ol>
      </div>
   </section>

   <section id="dataDetails" class="py-5">
      <div class="container">
         <header class="mb-5">
            <h2 class="pb-2 mb-0 border-bottom border-accent">
               {{ _('{0} statistics').format(g.site_title) }}
            </h2>
         </header>
         <div class="card-data-list">

           {% block stats %}
            {% snippet 'home/snippets/stats4.html' %}
           {% endblock %}

         </div>
      </div>
   </section>
</main>
